body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ea66cd, #984ba2);
    margin: 0;
    padding: 0; 
}
.todo-app{
    max-width: 800px;
    height: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1{
    text-align: center;
    color: #333;
}
#todo-form{
    display: flex;
    margin-bottom: 20px;
}
#todo-input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#btn{
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
#btn:hover .stars{
    background-color: #218838;
}
#todo-list{
    list-style: none;
    padding: 0;
}
.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.todo-item:last-child{
    border-bottom: none;
}
.todo-item button{
    padding: 5px 10px;
    border: none;
    background-color: #dc3545;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.todo-item button:hover{
    background-color: #c82333;
}
